<div id="display_details">
    <div id="pdetail">Product Details</div>        
    <h4 id="pid">Product Id : <span>{{id}}</span></h4>
    <h4>Product Name : <span>{{name}}</span></h4>

    <h4>Category :
        <span>{{category}}</span>
    </h4>

    <h4>Price :
        <span >{{price}}</span>
    </h4>

    <h4>StockUnits :
        <span >{{Stock_units}} </span>
    </h4>

    <h4>Release Date :
        <span> {{release_date}} </span>
    </h4>

    <h4>Serial Number :
        <span >{{serial_number}}</span>
    </h4>

    <h4>Description :
        <span > {{Description}} </span>
    </h4>

    <button class="btn" (click)="backToProduct()">Back To Product List</button>
    
    
</div> 
